{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ post.title }}</title>
  </head>
  <body>
    <div id="post">
      <a href="/board">Back to feed</a>
      <h1>{{ post.title }}</h1>
      <img
        src="{{ post.image.url }}"
        alt="{{ post.image.name }}"
        style="width: 40%"
      />
      <p>{{ post.description }}</p>
      {% csrf_token %}
      {% if user == post.author %}
        <button onclick="window.location.href='/board/{{ post.id }}/delete';">
          Delete
        </button>
        <button onclick="window.location.href='/board/{{ post.id }}/update';">
          Edit
        </button>
      {% endif %}
    </div>

    <div id="comments">
      <h1>Comments</h1>
      {% if user.is_authenticated %}
        <div style="display:block;">
          <form id="comment-form" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn">Post</button>
          </form>
        </div>
      {% else %}
        <em><a href="/login" >Log in</a> to comment</em>
      {% endif %}
     
      <ul style="list-style-type: none;">
        {% recursetree comments %}
        {% with comment=node %}

        <div id="comment-{{ comment.id }}" style="outline-color: grey;outline-width: 2px;outline-style: solid;">
          <li style="list-style-type: none;">
            <p>By: {{ comment.author.username }} ({{ comment.created_at }})</p>
            {% if comment.reply_to %}
              <p>Replying to: {{ comment.reply_to.username }}</p>
            {% endif %}
            <p>"{{ comment.body|safe }}"</p>
            {% if user.is_authenticated %}
              <a href="/board/{{ post.id }}/{{ comment.id }}/reply">
                <button class="button">Reply</button>
              </a>
               {% if user.is_authenticated and user == comment.author %}
                  <div style="display:block;">
                    <button type="delete" class="btn" onclick="window.location.href='/board/{{ post.id }}/{{ comment.id }}/delete';">
                    Delete
                    </button> 
                  </div>
                {% endif %}
            {% else %}
              <a href="/login"><button class="button">Login to Reply</button></a>
            {% endif %}
            {% if not comment.is_leaf_node %}
              <ul class="children">
                {{ children }}
              </ul>
            {% endif %}
          </li>
        </div>

        {% endwith %}
        {% endrecursetree %}
      </ul>
    </div>
  </body>
{% endblock content %}
