{% extends 'base.html' %}
{% block content %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>This is the main page</title>
  </head>
  <body>
    <h1>The Squirrel Fanbase</h1>
    <p>Have a look at our most recent submissions</p>

    {% if user.is_authenticated %}
      <div>
        Or
        <button onclick="window.location.href='/board/create';">Create</button>
        your own
      </div>
    {% else %}
      <div>
        Or <em><a href="/login" >Log in</a></em> to create your own
      </div>
    {% endif %}

    {% if latest_post_list %}
    <ul>
      {% for post in latest_post_list %}
      <li>
        <em>
          <a href="/board/{{ post.id }}/">{{ post.title }}</a>
        </em>
        <br />
        <img
          src="{{ post.image.url }}"
          alt="{{ post.image.name }}"
          style="width: 40%"
        />
        <p>{{ post.description }}</p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts are available.</p>
    {% endif %}
  </body>
{% endblock content %}
