<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Editing {{ data.title }}</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit" value="Update" />
    </form>
  </body>
</html>
