{% extends 'base.html' %}

{% block content %}
<h2> Account </h2>
<!-- FIXME Form is not showing up! -->
<form method = "post">
    {% csrf_token %}
    {% for field in account_form %}
    <p>This is working</p>

    <p>
        {{field.label_tag}}
        {{field}}
        {% if field.help_text %}
            <small style = "color: grey;">{{field.help_text}}</small>
        {% endif %}
    </p>
    {% endfor %}

     {% for field in account_form %}
        {% for error in field.errors %}
            <p style = "color: red;">{{error}}</p>
        {% endfor %}
    {% endfor %}

    {% if account_form.non_field_errors %}
    <div stlye = "color:red;">
        <p>{{account_form.non_field_errors}}</p>
    </div>
    {% endif %}
    <button type = "submit">Save</button>
</form>

{% endblock content %}
