<div class="main">
  <form method="POST">
    {% csrf_token %} Are you sure that you want to delete this comment ?
    <input type="submit" value="Yes" />
    <a href="/board/">Cancel </a>
  </form>
</div>
