{% extends 'base.html' %}
{% block content %}
  <body>
    <div>
      <h1>Original Post: {{ post.title }}</h1>
      <img
        src="{{ post.image.url }}"
        alt="{{ post.image.name }}"
        style="width: 5%;"
        />
      <p>{{ post.description }}</p>
      <hr>
    </div>

    <div>
      <h2>Replying to {{ parent_comment.author.username }}</h2>
      <blockquote>{{ parent_comment.body|safe }}</blockquote>
      <form method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Comment" />
      </form>
    </div>
  </body>
{% endblock content%}
