<!DOCTYPE html>
<html>
  <head>
    {% if request.user.is_authenticated %}
    <p>
      <a href="/board">Home</a>| <a href="{% url 'account' %}">Profile |</a>
      <a href="{% url 'logout' %}">Logout</a>
    </p>
    <p>Hello, {{ request.user.username }}</p>
    {% else %}
    <p>
      <a href="/board">Home</a> | <a href="{% url 'register' %}">Register</a> |
      <a href="{% url 'login' %}"> Login</a>
    </p>
    {% endif %}
    <hr />
  </head>

  <body>
    {% block content %} {% endblock content %}
  </body>

  <footer></footer>
</html>
